
.slideUpMenu{
    width: 100%;
    height: 500px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 0px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}