.todo{
    padding-left: 10px;
    padding-right: 10px;
    background-color: gray;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid black;
}

.todo-text{
    color: rgb(211, 206, 206);
}

.todo-btn{
    border-radius: 10px;
    border: none;
    height: 30px;
 
}

.red{
    background-color: red;
}

.green{
    background-color: green;
}