<div class="navBarColor">

    <div class="navBar">
        <div style="width:98%">
        
            <!--First Layer-->
            <div class="firstLayer">

            <i class="fa-solid fa-bars smallScreenBars"></i>

            <!--Logo-->  
            <img class="navBarLogo" src="https://cms-images.mmst.eu/fw7ws5lvie5f/57IGhBCsgc3X02EX1EFqyN/e7d3e1b61d0a29d5e84290660e0d10df/MMS_Logo_outline.svg?q=80" alt="">
            
            <!--Searchbar-->
            <div class="navBar_searchbar">

                <!--Input-->
                <i class="fa-solid fa-magnifying-glass cursorPointer"></i>
                <input class="navBar_input"  type="text">

                <!--Placeholder for Input-->
                <p class="navBarPlaceholder">Was suchst du?</p>
                <i class="fa-solid fa-filter filterBtn" id="openCloseFilterBtn"></i>

            </div>


            <!--rotating-Box-->
            <div class="cube-container">

                <!--All Options -->
                <div class="cube">

                <div class="face">
                    <!--current Option-->
                    <span>text1</span>

                    <!--navigation with arrows-->
                    <div class="navBarArrowUp">
                    <i class="fa-solid fa-arrow-up transparent" id="cubeArrUp1"></i>
                    </div>

                    <div class="navBarArrowDown">       
                    <i class="fa-solid fa-arrow-down transparent" id="cubeArrDown1"></i>
                    </div>

                </div>

                <div class="face">
                    <!--current Option-->
                    <span>text2</span>

                    <!--navigation with arrows-->
                    <div class="navBarArrowUp">
                    <i class="fa-solid fa-arrow-up transparent" id="cubeArrUp2"></i>
                    </div>

                    <div class="navBarArrowDown">       
                    <i class="fa-solid fa-arrow-down transparent" id="cubeArrDown2"></i>
                    </div>
                </div>

                <div class="face">
                    <!--current Option-->
                    <span>text3</span>

                    <!--navigation with arrows-->
                    <div class="navBarArrowUp">
                    <i class="fa-solid fa-arrow-up transparent" id="cubeArrUp3"></i>
                    </div>

                    <div class="navBarArrowDown">       
                    <i class="fa-solid fa-arrow-down transparent" id="cubeArrDown3"></i>
                    </div>
                </div>

                <div class="face">
                    <!--current Option-->
                    <span>text4</span>

                    <!--navigation with arrows-->
                    <div class="navBarArrowUp">
                    <i class="fa-solid fa-arrow-up transparent" id="cubeArrUp4"></i>
                    </div>

                    <div class="navBarArrowDown">       
                    <i class="fa-solid fa-arrow-down transparent" id="cubeArrDown4"></i>
                    </div>
                </div>

                </div>

            </div>

            
            <div class="navBarGoToContainer">

                <!--account-->
                <button class="navBarGoTo" id="accOpenBtn"><i class="fa-solid fa-circle-user"></i></button>

                <!--favorite list-->
                <button class="navBarGoTo"><i class="fa-solid fa-heart"></i></button>

                <!--shopping bag-->
                <button class="navBarGoTo"><i class="fa-solid fa-cart-shopping"></i></button>

            </div>  

            </div>

            <!--Second Layer-->
            <div class="secondLayer">
        
            <!--menuBtn-->
            <div class="OuternavBarMenu" id="NB_menuBtn">
                <div class="navBarMenu">
                <i class="fa-solid fa-bars barsImage"></i>
                <span style="font-weight: 700; color: rgb(58, 58, 58)">Menü</span>
                </div>
            </div>
            
            <!--menubar-->    
            <div class="Outer" id="NB_menubar">
        
                <!--left Arrow-->
                <i class="fa-solid fa-angle-left leftArr unvisible noPointer" (click)="moveMenubarRight()" #leftArr id="leftArr"></i>

                <div class="Outermenubar">
                <ul class="menubar" #menubar role="menubar">
                    <li class="menubarFI item">Computer + Tablet</li> <!--menubar-first-item-->
                    <li class="item">Smartphones</li>
                    <li class="item">TV + Beamer</li>
                    <li class="item">Küche</li>
                    <li class="item">Haushalt + Garten</li>
                    <li class="item">Gaming + VR</li>
                    <li class="item">Audio</li>
                    <li class="item">Spielzeug + Freizeit</li>
                    <li class="item">Büro + Homeoffice</li>
                    <li class="item">Smart Home</li>
                    <li class="item" style="font-size:14px">|</li>
                    <li class="item">Angebote</li> <!--menubar-second-last-item-->
                    <li class="item">Über uns</li> <!--menubar-last-item-->
                </ul>
                </div>

                <!--right Arrow-->
                <i class="fa-solid fa-angle-right rightArr visible" #rightArr id="rightArr"></i>
            </div>  

            </div>

        </div>

        <!--account Slide-->    
        <div class="accountSlide" id="accountSlide">

        <!--headline-->
        <h5 class="accSlide-headline">Mein Konto</h5>

        <!--close Slide-->
        <i class="fa-solid fa-xmark AccSlideCloseBtn" id="accCloseBtn"></i>

        <!--Login-->
        <div class="accSlide-login">

            <h5>Willkommen zurück! Logge dich ein</h5>

            <!--Email-->
            <div style="position: relative">
            <input class="accSlide-login-Inputs" id="login-email" type="text">
            <p class="aSL-emailTxt" id="aSl-email-placeholder">E-Mail-Adresse</p>
            </div>

            <!--Password-->
            <div style="position: relative">
            <input class="accSlide-login-Inputs" id="login-passw" type="password">
            <p class="aSL-passwTxt" id="aSl-pw-placeholder">Passwort</p>      
            <i class="fa-solid fa-eye-slash aSL-passwEye" id="passwEye"></i>     
            </div>

            <!--password forgotte-->
            <p class="accSlide-passwortforgotten">Passwort vergessen?</p>

            <!--log in-->
            <button class="accSlide-loginBtn">Einloggen</button>

            <!--Registrieren-->
            <div class="accSlide-reg">
            <h6>Du hast noch kein Online-Konto?</h6>
            <button class="accSlide-reg-btn"> Neu registrieren</button>
            </div>

            <div class="accSlide-infos">
            <div>
                <i class="fa-solid fa-house"></i> 
                <span>Kontoübersicht</span>
            </div>

            <div>
                <i class="fa-solid fa-cart-shopping"></i>
                <span>Mein Warenkorb</span>
            </div>

            <div style="margin-left:3px">
                <i class="fa-solid fa-heart"></i>
                <span>Meine Wunschliste</span>
            </div>

            </div>
                
        </div>
        
        </div>  
    </div>

</div>
