.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(206, 202, 202);
}

.addToDo{
    z-index: 1000;
    border-radius: 5px;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
}