.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(206, 202, 202);
    position: relative;
}

.addToDo{
    z-index: 1000;
    border-radius: 5px;
    border: none;
    margin-left: 47px;
    margin-bottom: 10px;
}

.noName{
    display: flex;
    flex-direction: column;
}


.newToDo{
    margin-left: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
}

.saveData, .getData{
    width: 50px;
    position: absolute;
    top: 0px;
}

.getData{
    right: 0px;
}
