
<div style="margin-bottom: 50px;position:relative;left:100px">
  <div *ngIf="!name" class="noName">
    Hey, Please give your Username:
    <input type="text" style="width: 200px;" #usernameInput>
    <button style="width: 100px;height:20px;margin-top:10px" (click)="addUsername(usernameInput.value)">submit</button>
  </div>

  <div *ngIf="name">
    Hello {{name}} !

  </div>

</div>

<div class="box">
  <div class="container">
    <div style="height: 50px;display:flex;justify-content:center;align-items:center">Unsere Todos, Offen: {{countOpenToDos().length}}</div>
    <button class="saveData">save data</button>
    <button class="getData">get data</button>
    <button class="addToDo" (click)="addToDo()">add ToDo</button>
    <input type="text" class="newToDo" [(ngModel)]="newToDo">
    <div>
      <div *ngFor="let todo of todos; let i = index; let isFirst = first; let isLast = last">
        <app-todo [todo]="todo" [index]="i" [isFirst]="isFirst" [isLast]="isLast" (todoIndex)="toggleToDo($event)" (deleteIndex)="deleteToDo($event)"></app-todo>
      </div>  
    </div>
  </div>


</div>