.search-bar{
    width:100%;
    max-width:270px;
    height: 60px;
    background:beige;
    display:flex;
    align-items: center;
    border-radius:50px;
    padding: 30px 50px;
  }
  
  .search-bar-input{
    background: transparent;
    border:0;
    outline:none;
    font-size:17px;
    
    
  }
  
  .search-bar-input::placeholder{
    color:black
  }
  
  .img-style{
    width:50px;
    height:40px;
    border:0;
    border-radius: 50%;
    background:white;
    
  
  }
  
  .filter-button{
    background-color: white;
    height:40px;
    margin-right: 10px;
    border-radius:20%;
    
  
  
  }
  

  .link-youtube{
    color:red;
    text-decoration: none;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center
  }
  .link-youtube:hover{
    color: rgb(177, 10, 10);
    
  }

  .link-instagram{
    color: rgb(191, 48, 48);
    text-decoration: none;
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center

  }
  .link-instagram:hover{
    color:rgb(105, 7, 7);
   

  }

  .link-facebook{
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;

  }

  .link-twitter {
    height:40px;
    width:40px;
    display:flex;
    justify-content:center;
    align-items:center;
    text-decoration: none;

  }
  

  .link{
    text-decoration: none;
     color:white
  }
  .link:hover{
    color:rgb(184, 180, 180)
  }


  .btn{
    width:100px;
    height:60px;
    border-radius:30px;
    background:beige;
    padding:6px
  
  }
  

  .menu{
    background:beige;
    border-radius:20px;
    height:auto;
    width:200px;
    display:none;
    position:absolute
  }

 

.link-youtube{
  color:red;
  text-decoration: none;
  height:40px;
  width:40px;
  display:flex;
  justify-content:center;
  align-items:center
}
.btn{
  width:170px;
  background:rgb(255, 255, 255);
  border-radius: 20px;
  border-color:rgb(112, 100, 100);
  border-width:3px;
  display: flex;
  align-items: center;
  position:absolute;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  

  
}

.btn:hover{
  background:rgb(112, 100, 100)

}


.menu{
  border-radius:20px;
  margin-top:10px;
  height:160px;
  width:250px;
  padding:2px;
  position:absolute;
  background-color:white;
  transition: box-shadow 0.3s ease-in-out; 
}
.menu:hover{
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);

}

.FilterMenu:hover{
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5)
}

.filter{
  font-size:20px;
  padding:5px;
  margin-bottom:0px;
  display:flex;
  align-items:center;
  cursor:pointer;
  color:black
}

.black{
  color:black
}


.filter:hover{
  color:rgb(199, 195, 195);
}

.filter_m{
  display:inline-flex;
  align-items:center;
  margin-left: 5px;
  margin-top: 7px;
  margin-bottom:0px;
  border-radius: 20px;
  width:auto;
  background-color: #ba8b85;
  cursor:pointer;
  transition: all 0.2s ease
}

.filter_m:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 9px rgb(189, 187, 187)
   
}


.märkte_menu{
  overflow-y:auto;
  display:block;
  width:500px;
  height:500px;
  z-index:100

}


.speicherKapMenu{
  position:absolute;
  left:63px;
  top:65px;
  
}

.märkte_menu::-webkit-scrollbar{
  background-color: transparent;

}
.märkte_menu::-webkit-scrollbar-thumb{
  background-color:rgb(99, 98, 98);
  border-radius: 20px;
  
}

.searchBar{
  background-color: white;
  border: 2px solid rgb(211, 205, 205);
  position: absolute;
  z-index:100;
  width:300px;
  border-radius:10px;
  padding:4px;
  left:74px;
  top:26px;
  height:35px  
}

.posControll{
  position:absolute;
  left:310px;
  top:2px
}




.märkte-input{
  position:absolute;
  top:0px;
  left:0px;
  background:transparent;
  position:relative;
  width:270px;
  border:0px;
  }



.märkte-input:focus{
  outline:none
}

.FakePlaceHolder{
  position:absolute;
  transform:translate(5px,1px);
  left:3px;
  top:2px;
  color: rgb(194, 193, 193);     
  font-size: 18px;    
  pointer-events: none;   
  transition:all 0.4s 
}

.FakePlaceHolderAnimation{
  transform:translate(3px,-13px);
  font-size:12px;
  background-color: white;
  padding-bottom: -1px;
}


.checkmark{
  display:inline-block;
  height:20px;
  width:25px;
  background-color: #a85c52;
  border-radius: 5px;
  margin-left: 4px;
  position:relative;
  pointer-events: none;
  transition: 0.1s;
  
}


.checkmark::after{
  content:"";
  position:absolute;
  width:10px;
  height:12px;
  border-right:3px solid white;
  border-bottom:3px solid white;
  top:20%;
  left:20%;
  transform:translate(35%,-20%) rotatez(40deg); 
  
}

.filter_m:hover > label{
background-color:rgba(230, 179, 179, 0.84);

}




.switch{
  height: 30px;
  width: 50px;
  background-color: black;
  border-radius:20px;
  position:relative;
  cursor:pointer

}




.switch::before{
  position:absolute;
  content:"";
  width:25px;
  height:26px;
  left:2px;
  top:2px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  
}

#märkteToggleState:checked + label::before {
 transform:translateX(20px);
}

#märkteToggleState:checked + label{
  background-color: #7255d1;
}


#markenToggleState:checked + label::before{ 
  transform:translateX(20px);
}

#markenToggleState:checked + label{
  background-color: #7255d1;
}


.suchvorschlägePfeil{
 position: absolute;
 right:14.5px;
 bottom:5px;
 transform:rotateZ(-50deg);
 cursor:pointer
}
  
.suchvorschläge{
  list-style-type: none;
  padding:0px;
  margin-top: 34px;
  margin-bottom:-15px;
  transform:translateY(-23px)
}

.suchvorschlägeElement{
  position:relative;
  cursor:pointer;
  margin-left:2px;
  margin-top:8px;
  margin-bottom: 0px;
  border-bottom:1px solid rgba(210, 207, 207, 0.832)
}

.suchvorschlägeElementName{
  pointer-events: none;
  cursor: pointer;
}


.linie{
  position:absolute;
  top:290px;
  left:65px;
  background-color: rgb(128, 123, 123);
  height:5px;
  width:390px;
  border-radius:30px
}


.alleMärkteDiv{  
  position:relative;
  margin-top:25px;
  top:70px;
  overflow-y:auto;
  overflow-x:hidden;
  width:405px;
  height:470px
}




.ausgewählt_märkte{
  padding-left: 5px;
  margin-right:7px;
  margin-top: 80px;
  border-radius:15px;
  margin-left:5px;
}

.noPointer{
  pointer-events: none;
}


.meine_marken{
  display:flex;
  flex-wrap:wrap;
  height:125px;
  gap:1px;
  align-content:flex-start;
  overflow-y: auto;
}



.meine_märkte_box{
  margin-left:5px;
  margin-top:5px;
  margin-bottom:2px;
  display:flex;
  align-items: center;
  height: 35px;
  padding-top:4px;
  padding-left: 12px ;
  padding-right: 5px;
  width:auto; 
  background-color: rgb(179, 135, 135);
  border-radius:30px;

}

.meine_märkteDiv{
  display:flex;
  flex-wrap:wrap;
  align-content: flex-start;
  width:395px;
  height:125px;
  overflow-y:auto;
  gap:1px
 
}

.meine_märkte_box_kreuz{
  margin-top:3px;
  margin-left:3px;
  margin-right:5px;
  cursor:pointer
}




.preise_input{
  margin-top:1rem;
  padding-left:11px;
  height:40px;
  width:80px;
  border-radius:10px;
  border:3px solid rgb(212, 210, 210);
 
}


.preise_input::-webkit-inner-spin-button{
  -webkit-appearance: none;
}

.preise_input_von{
  display:flex;
  justify-content: center;
  width:43px;
  font-size:13px;
  position:absolute;
  top:7px;
  left:9px;
  color:rgb(142, 138, 138);
  background-color:white

}




.price-input{
  display:flex
}

.separator{
  font-size:40px;
  margin-left:20px;
  margin-right:20px
}


.range-input{
  position:relative
}

.range-input input{
  height:5px;
  position:absolute;
  top:-5px;
  width:100%;
  background:none;
  appearance: none;
  pointer-events: none;
  box-sizing: border-box;
}

.range-input input::-webkit-slider-thumb{
  appearance: none;
  background-color:#626cf1;
  pointer-events: auto;
  
  height:25px;
  width:25px;
  border-radius:30px
}



.PreisToggle{
    transform:translateX(5px);
    height: 30px;
    width: 50px;
    background-color: black;
    border-radius:20px;
    cursor:pointer
   
}

.PreisToggle::before{
  position:absolute;
  content:"";
  width:25px;
  height:26px;
  left:2px;
  top:2px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  
}

#preisToggle:checked ~ .PreisToggle::before{
  transform: translateX(20px)
} 
#preisToggle:checked ~ .PreisToggle{
  background-color:#7255d1
}

.mehrAnzeigen{
  position:absolute;
  font-size:14px;
  top:-13px;
  left:8px;
  cursor:pointer;
  color: rgb(181, 176, 176);
  transition: all 0.1s;
}

.mehrAnzeigen:hover{
  color:rgb(111, 108, 108)
}


.trashcan{
  margin-left:5px;
  margin-right:3px;
  cursor:pointer
}


.Anzeigen{ 
  position:absolute;
  font-size:15px;
  left:184px;
  white-space:nowrap;
  cursor:pointer;
  color:rgb(159, 156, 156)
}

.Anzeigen:hover{
  color: rgb(100, 99, 99);

}


#bewertungen_menu label{
  display:block;
  cursor:pointer;
  margin-top:8px;
  position:relative
}

#bewertungen_menu label::before{
  content:"";
  position: absolute;
  width:25px;
  height:25px;
  top:2px;
  left:-30px;
  border-radius: 100%;
  border:2px solid gray;
  transition: all 0.2s ease
}



#bewertungen_menu label::after{
  content:"";
  opacity:0;
  position: absolute;
  width:15px;
  height:15px;
  top:7px;
  left:-25px;
  border-radius: 100%;
  background-color: black;
  transition: 0.1s
  
}

#bewertungen_menu [type="radio"]:checked + label::after{
  opacity:1
}

.undMehrSize{
  font-size:15px;
}
.size{
  font-size:19px;
  margin-left:0px;
}


.ChooseninnerText{
  font-weight:500;
  font-size:13px;
}

.showChoosenFilter{
  border:2px solid rgb(185, 182, 182);
  height:45px;
  border-radius:10px;
  padding:5px;
  padding-top: 7px;
  padding-right:9px;
  display:inline-block;
  margin-right:3px;
  white-space: nowrap;
  background-color: white;
  width:auto
}

.showChoosenFilterKreuz, .ChooseninnerText{
  vertical-align: middle;
  line-height: 1.2;
}

.showChoosenFilterKreuz{
  
  margin-left:3px;
  height:17.6px;
  cursor: pointer;
}

.PriceRanges{
  position:absolute;
  width:250px;
  pointer-events: none;
  appearance: none;
  background:transparent;
  transform:translateX(-13px)
}

.overlap{
  z-index:10
}


.PriceRanges::-webkit-slider-thumb{
  pointer-events: auto;
  appearance: none;
  width:20px;
  height:20px;
  background-color: rgb(69, 99, 237);;
  border-radius: 100%;
  cursor:pointer;

}

.slider{
  position: absolute;
  background-color: gray;
  width:250px;
  height:10px;
  border-radius:45px;
  transform:translate(-13px,5px)
}

.progress{
  position:absolute;
  height:100%;
  background-color: rgb(69, 99, 237);
  width:100%
}


.introSlideOpening{
  background-color: white;
  position:relative;
  top:0px;
  left:10px;
  padding:6px;
  border-radius:20px
}

.FilterMenuÖffnen:hover{
  background-color: rgb(237, 233, 233);
}

.linkeHälfte{
  position:relative;
  background:rgb(215, 215, 215);

}


.openLinks{
  flex:0.8
}


.ButtonDesign{
   all:unset;
   font-size:25px;
   padding-left:50px;
   z-index:100;  
   position:relative;
   display:block;
   width:270px;
   height:50px;
   border-radius:40px;
    
}



.textDesign{
  pointer-events:none; 
  color:rgb(244, 242, 242);
  transition: color 0.1s ease-out
}





.standardSlide{
  position:absolute;
  right:0px;
  top:0px;
  width:325px;
  padding-top:70px;
  padding-left:50px;
  background-color:rgb(255, 255, 255);
  border-top-left-radius:70px;
  border-bottom-left-radius:70px; 
  height:800px;
  z-index: 10;
  transform:translateX(100%);
  transition:all 0.4s ease
}



.standardSlide:hover{
  box-shadow:0px 0px 20px rgba(0, 0, 0, 0.5);
}

.introSlide{
  padding-top:20px;
  padding-left:0px;
  background: linear-gradient(to bottom, #5194e5, #406890)
}


.RatingSlide{
  padding-top:80px;
  padding-left:90px;
  background-color: rgb(255, 255, 255);
}

.openBit{
  transform:translate(91%)
}

.openBigBit{
  transform:translate(85%)
}

.BigSlide{
  width:500px
}

.openSlide{
  transform:translateX(0%); 
}



.positioningIcon{
  position:absolute;
  left:8px;
  font-size:20px;
  top:80px;
  color:#aec4d5;
  opacity:1;
  transition: opacity 0.2s ease
}

.positioningIconBig{
  position:absolute;
  font-size:25px;
  left:25px;
  top:90px;
  color:#aec4d5;
  opacity:1;
  transition: opacity 0.2s ease
}

.unsichtbar{
  opacity:0
}


.arrowLeftCorner{
  position:absolute;
  font-size: 30px;
  top:30px;
  left:30px;
  cursor:pointer
}

.priceToggle{
  width:240px;
  margin-top:30px;
  justify-content:space-between;
  display:flex;
  align-items:center
}

.RangeSliderBox{
  margin-top:25px;
  margin-left:-18px;
  padding:15px;
  display:flex;
  height:50px;
  width:265px;
  border-radius:30px;
  background-color:rgb(201, 225, 250)
}

.changingText{
  position:absolute;
  left:70px;
  top:22px;
  font-size:30px;
  white-space: nowrap;
}


.RatingImages i{
  font-size:25px
}

.test{
  font-size:14px
}


.märkteMarkenSlide{
  padding-left:21px
}

.arrowLeftCorner:hover{
  color:rgb(109, 108, 108);
}

.ButtonDesign:hover p{
  color:rgb(146, 142, 142)
}



#speicherKap_menu div{
  margin-top:13px
}


#speicherKap_menu div label{
  position:relative;
  height:25px;
  width:25px;
  border: 2px solid gray;
  border-radius:5px 
}

#speicherKap_menu div label span{
  white-space:nowrap;
  position:absolute;
  left:33px;
  bottom:0px;
  pointer-events: none;

}

#speicherKap_menu div label::before{
  cursor:pointer;
  content:"";
  opacity:0;
  position:absolute;
  left:7px;
  top:2px;
  transform:rotate(45deg);
  width:9px;
  border-bottom:2px solid gray;
  border-right: 2px solid gray;
  height:14px;
  transition: all 0.1s ease
}

#speicherKap_menu div #customCheckboxALLEgb::before{
  border-bottom:3px solid rgb(0, 0, 0);
  border-right: 3px solid rgb(0, 0, 0);
  
}


#OTEgb:checked + #customCheckboxOTEgb::before{
  opacity:1
}
 
#ZFSgb:checked + #customCheckboxZFSgb::before{
  opacity:1
}
 
#SFgb:checked +  #customCheckboxSFgb::before{
  opacity:1
}
 
#FOTgb:checked +  #customCheckboxFOTgb::before{
  opacity:1
}
 
#Ogb:checked +  #customCheckboxOgb::before{
  opacity:1
}
#allegb:checked + #customCheckboxALLEgb::before{
  opacity:1
}


.undMehr{
  font-size:13px;
  font-weight:600;
 
}


.Choosenfilter{
  position:absolute;
  bottom:110px;
  margin-left:24px;
  width:300px;
  height:300px; 
}



.submitFilter{
  color:rgb(224, 222, 222);
  padding-right:10px;
  height:40px;
  width:100px;
  border-radius:10px;
  border:none;
  background-color: rgb(11, 11, 11);
  transform:translateX(-8px)
}

.submitFilter:hover{
  background-color:rgb(66, 65, 65)
}


.alleLöschen{
  color:rgb(246, 115, 115);
  transform:translate(25px,9px);
  cursor:pointer
}

.alleLöschen:hover{
  color:rgb(248, 179, 179)
}

.submitDiv{
  position:absolute;
  bottom:60px;
  display:flex;
  justify-content:space-between;
  width:320px;
  visibility: hidden;

}


.speicherKapMenu div label{
  transition: all 0.2s ease
}

.speicherKapMenu div label:hover{
  transform:scale(1.1);
  box-shadow: 0px 0px 7px rgb(189, 187, 187)
}



.zuStartseite{
    width:130px;
    height:40px;
    border-radius:5px;
    color:white;
    background-color:black;
    white-space: nowrap;     
}


.noResDiv{
  position:relative;
  left:34px;
}

.infoButton{
    color:rgb(160, 8, 8);
    cursor:pointer; 
}

.noResMenu{
    visibility:hidden;
    transition: 0.3s visibility ease;
    background-color: rgb(34, 34, 34);
    position:absolute;
    z-index:100;
    top:2;
    padding:8px;
    border-radius:10px

}



.infoButton:hover + .noResMenu{        
    visibility:visible
}



.noResÜberschrift{
    white-space:nowrap;
    color:white;
}
    






@media (max-width: 835px){

  .keineProdukte{
    display:flex;
    justify-content: center;
  }

}



@media (max-width:556px){
.errorBox{
    margin-left:50px;
}



}


.ersteText, .zweiteText{
 color:white;
}

.oops{
 color:white;
 font-size:32px;
 position:relative;
 right:63px


}
.ersteText{
 display:inline-block;
 width:270px;
 position:relative;
 margin-top:6px;
 left:28px;
 font-size:14px
}


.errorBox{
 display:flex;
 justify-content:center;
 align-items:center;
 position:relative;
 box-shadow: 0px 0px 12px rgb(14, 13, 13);
 background-color: rgb(54, 53, 53);
 border-radius:10px;
 width:400px;
 height:200px;
 transition: opacity 0.2s ease;

}

.errorIcon{
 font-size:50px;
 color:red;
 position:relative;
 top:5px;
 right:5px
}

.neuStartenButton{
 position:relative;
 left:100px;
 top:-10px;
 height:30px;
 color:white;
 background-color: transparent;
 border: 2px solid rgb(142, 4, 4);
 cursor:pointer
}

.neuStartenButton:hover{
 color:rgb(106, 106, 106)
}

.errorBoxClose{
 color:rgb(237, 232, 232);
 position:absolute;
 top:12px;
 right:12px;
 cursor:pointer
}


.produkteDiv{
  width:1200px;
  position: relative;
}


@media (max-width:1134.40px){

.produkteDiv{
  width:840px
}

}

@media (max-width:795px){

.produkteDiv{
  width:520px
}

}



.produktBox{
  width:280px;
  height:470px;
  margin-right:15px;
  margin-top:13px;
  transition: all 0.4s ease
}


@media (min-width:1100px) and (max-width:1200px){
.produktBox{
  margin-right:auto;

}

}

@media (min-width:0px) and (max-width:1100px){
.produktBox{
  margin-right:0px;

}

}






@media (max-width:903.2px){

.produktBox{
  width:270px
}

}
@media (max-width:928px){

.produktBox{
  width:260px
}

}

@media (max-width:540px){

.produktBox{
  width:240px;
  
}

}


.warenkorbBtn{
  
  background-color:black;
  color:white;
  font-weight:700;
  width:85%;
  max-width:248px;
  height:45px;
  position:absolute;
  bottom:18px
}

.warenkorbBtn:hover{
  background-color: rgb(48, 47, 47);

}

.favorite{
  position:absolute;
  right:10px;
  top:10px;
  font-size:22px;
  cursor:pointer
}

.wunschlistePopUp{
  background-color:rgb(20, 20, 20);
  font-size:14px;
  padding-left:28px;
  padding-top:6px;
  color:white;
  width:280px;
  height:80px;
  position:fixed;
  z-index:10;
  top:0px;
  right: 0px;
  opacity:0;
  pointer-events:none;
  transition: all 0.2s ease
}

.active{
  opacity:1;
  pointer-events:auto
}



.weitereProdukte{
  width:230px;
  height:50px;
  margin-top:100px;
  font-weight:600;
  background-color: white;
      
}

.weitereProdukte:hover{
  background-color: rgb(230, 229, 229);
}